# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_ERGOLILY_LEFT

config ZMK_KEYBOARD_NAME
	default "ErgoLily"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_ERGOLILY_LEFT || SHIELD_ERGOLILY_RIGHT

config ZMK_SPLIT
	default y

endif
